body {
	background-color: fafafa

}

.box-area{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
}

.left{
	position: relative;
	display:flex;
	flex-direction: column;
	width: 300px;
	height: auto;
	margin: 20px;
	padding: 20px;
	transtion: .3s;
	border-width: 3px;
	border-color: #26466d;
}

.left{
	display: flex;
	justify-content: left;
	align-items: left;
	width: 400px;
	height: 100px;
	-webkit-background-size:cover;
	background-size: cover;
	background-position:left;
}

.right{
	position: relative;
	display:flex;
	flex-direction: column;
	align-items: left;
	width: 800px;
	height: 400px;
	background-color: #26466d;
	margin: 20px;
	padding: 20px;
	transtion: .3s;
	-webkit-background-size:cover;
	background-size: cover;
	background-position:left;
}